h1 {
  font-weight: bold;
  margin-top: 20px;
  //color: white;
}

h1 > span {
  text-transform: uppercase;
  font-size: 35px;
}

.container {
  max-width: 630px;
  height: 100%;
  padding: 15px 30px;

  /* Высота статус-бара в iOS 10 */
  margin: 60px auto 0;

  /* Высота статус-бара в iOS 11.0 */
  margin: calc(60px + constant(safe-area-inset-top)) auto 0;

  /* Высота статус-бара в iOS 11+ */
  margin: calc(60px + env(safe-area-inset-top)) auto 0;
}

@media screen and (min-width: 480px) {
  .container {
    margin: 10px auto 0;
    padding: 15px 30px;
  }
}

.btn {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06)!important;
}

.btn-default {
  @extend .btn;
  color: #333;
  background-color: #eeeeee;
  border: 5px solid #eeeeee;

  @media screen and (min-width: 601px) {
    &:hover {
      background-color: #e0e0e0!important;
      border: 5px solid #e0e0e0!important;
    }
  }

  @media screen and (max-width: 600px) {
    &:active {
      background-color: #e0e0e0!important;
      border: 5px solid #e0e0e0!important;
    }
  }
}

.white-wrapper {
  width: 100%;
  display: block;
  padding: 10px 20px;
  background-color: white;
  color: #2d3748!important;
  border-radius: .5rem!important;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06)!important;
}


.loading {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 3px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  text-align:center;
  margin-top: 5px;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@media screen and (min-width: 601px) {
  .friends:hover {
    background-color: #edf2f7;
    border: 5px solid #edf2f7;
  }
}

@media screen and (max-width: 600px) {
  .friends:active {
    background-color: #edf2f7;
    border: 5px solid #edf2f7;
  }
}

.listing-title {
  font-size: 25px;
  text-align: left !important;
  color: #212529;
  margin-bottom: 20px;
}

.alert h1 {
  text-align: center !important;
  font-size: 18px !important;
  text-decoration: none;
}

.alert-vote {
  color: #c05621;
  padding: 1rem;
  border-left: 4px solid;
  border-color: #ed8936;
  background-color: #fffaf0;
}

@media screen and (min-width: 601px) {
  .items-container {
      max-height: 380px;
      //max-height: 100px;
      //width: 100%;
      overflow-y: auto;
      -ms-overflow-style: none;  /* IE 10+ */
      scrollbar-width: none; /* Firefox */
  }

  .items-container::-webkit-scrollbar { /* chrome based */
    width: 3px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
  }

  .items-container::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px #e0e0e0;
    border-radius: 10px;
    background-color: #e0e0e0;
  }

  .items-container::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #9e9e9e;
    background-color: #9e9e9e;
  }

}

.content-center {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}